/*
$bg-gray-1:#EDEDED;
$bg-gray-2:#BBBCBF;
$bg-gray-3:#868891;
$bg-gray-4:#59575E;
*/
@font-face {
  font-family: 'Pretendard';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-Thin.woff2') format('woff2');
  font-weight: 100;
  font-display: swap;
}

@font-face {
  font-family: 'Pretendard';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-ExtraLight.woff2') format('woff2');
  font-weight: 200;
  font-display: swap;
}

@font-face {
  font-family: 'Pretendard';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-Light.woff2') format('woff2');
  font-weight: 300;
  font-display: swap;
}

@font-face {
  font-family: 'Pretendard';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-Regular.woff2') format('woff2');
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: 'Pretendard';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-Medium.woff2') format('woff2');
  font-weight: 500;
  font-display: swap;
}

@font-face {
  font-family: 'Pretendard';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-SemiBold.woff2') format('woff2');
  font-weight: 600;
  font-display: swap;
}

@font-face {
  font-family: 'Pretendard';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-Bold.woff2') format('woff2');
  font-weight: 700;
  font-display: swap;
}

@font-face {
  font-family: 'Pretendard';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-ExtraBold.woff2') format('woff2');
  font-weight: 800;
  font-display: swap;
}

@font-face {
  font-family: 'Pretendard';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-Black.woff2') format('woff2');
  font-weight: 900;
  font-display: swap;
}

@font-face {
  font-family: 'Apparel';
  src: url('/font/Apparel_Light.ttf') format('truetype');
  font-weight: 300;
  font-display: swap;
}

@font-face {
  font-family: 'GT Walsheim';
  src: url('/font/GT-Walsheim-Regular.woff2') format('woff2');
  font-weight: 400;
  font-display: swap;
}
*{margin: 0; padding: 0; box-sizing: border-box; font-family:'Pretendard', serif;}
a{text-decoration: none; color: #000;}
li{list-style: none;}
img{max-width: 100%;}
.apprael{font-family: 'Apparel', 'Pretendard', serif; font-weight: 200;}
.apprael_all, .apprael_all *{font-family: 'Apparel', 'Pretendard', serif; font-weight: 200;}
.gt{font-family: 'GT Walsheim', 'Pretendard', serif; font-weight:400;}
.gt_all, .gt_all *{font-family: 'GT Walsheim', 'Pretendard', serif;}

body{background-color: #fff; min-height: 100vh;}
button{background-color: unset; border: unset; cursor: pointer;}
:root{
  --txt-black: #000000;
  --txt-white: #FFFFFF;
  --txt-ac: #FD3D32;
  --txt-gray: #9E9E9E;
  --bg-white: #FFFFFF;
  --bg-black: #000000;
  --bg-ac-1:#FD3D32;
  --bg-ac-2:#FB584E;
  --bg-gray-1: #EDEDED;
  --bg-gray-2: #BBBCBF;
  --bg-gray-3: #868891;
  --bg-gray-4: #59575E;
}
.txt-white{color: var(--txt-white);}
.txt-black{color: var(--txt-black);}
.txt-ac{color: var(--txt-ac);}
.txt-gray{color: var(--txt-gray);}
.bg-white{background-color: var(--bg-white);}
.bg-black{background-color: var(--bg-black);}
.bg-ac-1{background-color: var(--bg-ac-1);}
.bg-ac-2{background-color: var(--bg-ac-2);} 
.bg-gray-1{background-color: var(--bg-gray-1);}
.bg-gray-2{background-color: var(--bg-gray-2);}
.bg-gray-3{background-color: var(--bg-gray-3);}
.bg-gray-4{background-color: var(--bg-gray-4);}

.fw-r{font-weight: 400;}
.fw-sm{font-weight: 600;}
/*
.caption-s{font-size: 10px; line-height: 1.6;}
.caption-m{font-size: 12px; line-height: 1.6;}

.body-s{font-size: 14px; line-height: 1.7;}
.body-m{font-size: 16px; line-height: 1.7;}
.body-l{font-size: 18px; line-height: 1.7;}

.heade-s{font-size: 20px; line-height: 1.7;}
.heade-m{font-size: 24px; line-height: 1.7;}
.heade-l{font-size: 32px; line-height: 1.7;}

.display-xs{font-size: 48px; line-height: 1.2;}
.display-s{font-size: 96px; line-height: 1.2;}
.display-m{font-size: 128px; line-height: 1.1;}
.display-l{font-size: 160px; line-height: 1.1;}

@media (max-width:1024px){
  .body-s{font-size: 10px;}
  .body-m{font-size: 11px;}
  .body-l{font-size: 12px;}
  
  .head-s{font-size: 16px;}
  .head-m{font-size: 18px;}
  .head-l{font-size: 20px;}

  .display-xs{font-size: 24px;}
  .display-s{font-size: 32px;}
  .display-m{font-size: 40px;}
  .display-l{font-size: 48px;}
}
*/

.caption-s{font-size: 9px; line-height: 1.6;}
.caption-m{font-size: 11px; line-height: 1.6;}

.body-s{font-size: 13px; line-height: 1.7;}
.body-m{font-size: 15px; line-height: 1.7;}
.body-l{font-size: 17px; line-height: 1.7;}

.head-s{font-size: 19px; line-height: 1.7;}
.head-m{font-size: 23px; line-height: 1.7;}
.head-l{font-size: 30px; line-height: 1.7;}

.display-xs{font-size: 45px; line-height: 1.2;}
.display-s{font-size: 90px; line-height: 1.2;}
.display-m{font-size: 120px; line-height: 1.1;}
.display-l{font-size: 150px; line-height: 1.1;}

@media (max-width:1024px){
  .body-s{font-size: 10px;}
  .body-m{font-size: 11px;}
  .body-l{font-size: 12px;}
  
  .head-s{font-size: 16px;}
  .head-m{font-size: 18px;}
  .head-l{font-size: 20px;}

  .display-xs{font-size: 24px;}
  .display-s{font-size: 32px;}
  .display-m{font-size: 40px;}
  .display-l{font-size: 48px;}
}
.fw-r{font-weight: 400;}
.fw-m{font-weight: 500;}
.fw-sb{font-weight: 600;}
.fw-b{font-weight: 700;}

.b-t{position: relative;
  &::before{content: ""; position: absolute; left: 0; top: 0; width: 100%; height: 1px; background-color: #000;}
  &.b-2::before{height: 2px;}
  &.b-3::before{height: 3px;}
  &.b-4::before{height: 4px;}
  &.b-5::before{height: 5px;}
}
.b-b{position: relative;
  &::before{content: ""; position: absolute; left: 0; bottom: 0; width: 100%; height: 1px; background-color: #000;}
  &.b-2::before{height: 2px;}
  &.b-3::before{height: 3px;}
  &.b-4::before{height: 4px;}
  &.b-5::before{height: 5px;}
}
.ani{
  .b-t::before, .b-b::before{width: 0; transition: ease 0.8s width;}
  &.b-t::before, &.b-b::before{width: 0; transition: ease 0.8s width;}
  &.active{
    .b-t::before, .b-b::before{width: 100%;}
    &.b-t::before, &.b-b::before{width: 100%;}
  }

  @for $i from 1 through 20 {
    .b-delay-#{$i}::before{transition-delay: $i * 0.1s;}
  }
  
}



.cursor{position: fixed; top: 0; left: 0; z-index: 99; pointer-events: none; width: 10px; height: 10px; opacity: 1; transition: ease 0.5s opacity, ease 0.5s width, ease 0.5s height, ease 0.5s filter; transform: translate(-100px, -100px); will-change: transform; 
  .cursor-inner{width: 10px; height: 10px; border-radius: 100%; background-color: var(--bg-ac-1); backdrop-filter: blur(10px); transform: translate(-50%, -50%); transition: ease 0.3s all; position: absolute;
    span{width: 0; height: 0; transition: ease 0.3s all; position: absolute; transition-delay: 0.3s;}
    span:nth-child(1){top: 0; left: 0; border-top: 0px solid; border-left: 0px solid;}
    span:nth-child(2){top: 0; right: 0; border-top: 0px solid; border-right: 0px solid;}
    span:nth-child(3){bottom: 0; left: 0; border-bottom: 0px solid; border-left: 0px solid;}
    span:nth-child(4){bottom: 0; right: 0; border-bottom: 0px solid; border-right: 0px solid;}
  }
  .cursor-txt{position: absolute; top: 0; left: 0; transform: translate(-50%, -50%); font-size: 16px; opacity: 0; transition: ease 0.1s opacity; color: var(--bg-ac-1);}
  
  &.cursor_view{
    .cursor-inner{width: 90px; height: 90px; border: 1px solid var(--bg-ac-1); backdrop-filter: blur(10px); background-color: rgba(255, 255, 255, 0.10);}
    .cursor-txt-view{opacity: 1;}
  }
  &.cursor_close, &.hidden{display: none;}
}

.fade-slice{display: block; width: 100%;
  .line{overflow: hidden; display: block; width: auto;
    .inner{transform: translateY(100%); transition: transform 0.6s ease; display: inline-block; white-space: nowrap;}
    @for $i from 1 through 10 {
      &:nth-child(#{$i}) .inner{
        transition-delay: $i * 0.1s; // 0.1s, 0.2s, 0.3s ...
      }
    }
  }
}
.ani.active{
  .fade-slice{
    .line{overflow: hidden; display: block;
      .inner{transform: translateY(0);}
    }
  }
  &.fade-slice{
    .line{overflow: hidden; display: block;
      .inner{transform: translateY(0);}
    }
  }
}

.fade-cw{overflow: hidden;}
@for $i from 1 through 20 {
  .fadeY-#{$i}{display:block; opacity:0; transform:translateY(130%); transition:all 1s cubic-bezier(0,0,.43,1.06); transition-delay:#{($i - 1) * 0.1}s;}
  .ani.active .fadeY-#{$i}{transform:translateY(0); opacity:1;}
}