.page_magazine {padding: 12.121vw 3.636vw 7.273vw;
  .mg_head{position: relative; padding: 1.212vw 0 4.848vw;  
    .mg_title{display: flex; justify-content: space-between; margin-bottom: 1.939vw; padding-bottom: 1.939vw; 
      &::before{background-color: unset; border-bottom: 1px dashed rgb(0, 0, 0, 0.25);}
    
      h1{
        span.char{font-family: 'Apparel', 'Pretendard', serif; font-weight: 200; opacity: 0;}
      }
      .mg_title_right{text-align: right; padding-top:1.8vw; display: flex; flex-direction: column; align-items: flex-end;
        h4{position: relative; display: flex; align-items: center; justify-content: flex-end; font-weight: 300; margin-bottom: 0.727vw;
          &::before{content: ''; display: block; width: 0.727vw; height: 0.727vw; border-radius: 100%; background-color: var(--bg-ac-1); margin-right: 1.212vw;}
        }

        .txt{width: 24.242vw; font-weight: 500;
          .inner{width: 24.242vw;}
        }
      }
    }
    .mg_nav{display: flex; justify-content: flex-end; font-size: 0; padding: 0.485vw; position: relative; gap: 0.485vw; position: relative; overflow-y: hidden;
      &::before{content: ''; display: block; position: absolute; left: 0; top: 0; width: 0%; height: 100%; background-color: var(--bg-gray-1); border-radius: 0.242vw;}
      
      a{background-color: #fff; border-radius: 0.242vw; padding: 0.303vw 1.212vw 0.182vw; cursor: pointer; transition: ease 0.3s all; position: relative; overflow: hidden; display: flex;
        span{position: relative; color: #000; transition: ease 0.3s color;}
        &::before{content: ''; display: block; background-color: var(--bg-ac-1); left: 0; bottom: 0; width: 100%; height: 0; transition: ease 0.3s height; position: absolute;}
        &.active::before, &:hover::before{height: 100%;}
        &.active span, &:hover span{color: #fff;}
      }
      .btn_all{position: absolute; left: 0.485vw; top: 0.485vw;}
    }
    &.ani.active{
      .mg_nav::before{width: 100%;}
    }
  }

  .mg_body{width: calc(100% + 4.848vw); left: -2.424vw; position: relative;  padding: 4.848vw 2.424vw;
    .mg_list{position: relative; display: grid;
      
      @media(min-width:1025px){
        &.mg_list_new_post{grid-template-columns: repeat(2, 1fr); gap: 1px;}
        &.mg_list_news{grid-template-columns: repeat(3, 1fr); grid-column-gap: 2.424vw; grid-row-gap: 4.848vw; padding: 2.424vw 0;}
        &.mg_list_event{grid-template-columns: repeat(4, 1fr); grid-column-gap: 2.424vw; grid-row-gap: 4.848vw; padding: 2.424vw 0;}
        &.mg_list_family{grid-template-columns: repeat(2, 1fr); grid-column-gap: 2.424vw; grid-row-gap: 4.848vw; padding: 2.424vw 0;}
        &.mg_list_gallery{}
        &.mg_list_play{}

      }
      &::before{content: ""; display: block; width: 0; height: 1px; background-color: #000; position: absolute; left: 0; top: 0; transition: all 1s cubic-bezier(0, 0, 0.43, 1.06); transition-delay: 0.6s;}
      &.active::before{width: 100%;}
      
      .mg_li{
        h1{padding: 0.485vw 0 1.212vw; font-weight: 600;}
        img{aspect-ratio: 16 / 9; width: 100%; object-fit: cover;}
        .date, h1{clip-path: polygon(0 0, 0 100%, 0 100%, 0 0); display: block; letter-spacing: -1px;}
        .date{transition: ease 0.7s clip-path, ease 0.7s letter-spacing; }
        h1{transition: ease 0.8s clip-path, ease 0.7s letter-spacing; transition-duration: 0.2;}
        img{transition: ease 1.4s transform, ease 1.4s opacity; transform: scale(1.05); opacity: 0;}
        
        &.active{
          .date,h1{clip-path: polygon(0 0, 0 100%, 100% 100%, 100% 0);  letter-spacing: 0px;}
          img{transform: scale(1); opacity: 1;}
        }
      }
    }
    .mg_list + .mg_list.active::before{content: none;}
    .mg_list_new_post{
      &::before{content: ''; display: block; width: 0; height: 1px; background-color: #000; position: absolute; left: 0; top: 0; transition:all 1s cubic-bezier(0,0,.43,1.06); transition-delay: 0.6s;}
      @media(min-width:1025px){
        &::after{content: ''; display: block; height: 0; width: 1px; background-color: #000; position: absolute; left: 50%; top: 0; transition:all 1s cubic-bezier(0,0,.43,1.06);transition-delay: 1.0s;}
      }
      &.active{
        &::before{width: 100%;}
        &::after{height: 100%;}
      }
      .mg_li{padding: 2.424vw; position: relative;
        &:nth-child(odd){padding-left: 0;}
        &:nth-child(even){padding-right: 0;}
        @media(min-width:1025px){
          &:nth-child(2n + 1)::before{content: ''; display: block; position: absolute; bottom: 0; left: 0;height: 1px; background-color: #000; width: 0; transition: ease 1.0s width; transition-delay:0.8s;}
          &.active:nth-child(2n + 1)::before{width: calc(100vw - 7.273vw);}
          @for $i from 1 through 2 {
            &:nth-child(2n + #{$i}){
              .date{transition-delay: #{(0.4 * $i) - 0.4}s;}
              h1{transition-delay: #{(0.4 * $i) - 0.4}s;}
              img{transition-delay: #{(0.4 * $i) - 0.4}s;}  
            }
          }
        }
      }
    }
    .mg_list_news{
      .mg_li{padding: 0 0; position: relative;
        
        @media(min-width:1025px){
          &:nth-child(3n + 1)::before{content: ''; display: block; position: absolute; bottom: -2.424vw; left: 0;height: 1px; background-color: #000; width: 0; transition: ease-out 1.0s width; transition-delay:0.6s;}
          &.active:nth-child(3n + 1)::before{width: calc(100vw - 7.273vw);}
          @for $i from 1 through 3 {
            &:nth-child(3n + #{$i}){
              .date{transition-delay: #{(0.3 * $i) - 0.3}s;}
              h1{transition-delay: #{(0.3 * $i) - 0.3}s;}
              img{transition-delay: #{(0.2 * $i) - 0.2}s;}  
            }
          }
        }
      }
    }

    .mg_list_event{
      .mg_li{padding: 0 0; position: relative;
        img{aspect-ratio: 330 / 412;}
        @media(min-width:1025px){
          &:nth-child(4n + 1)::before{content: ''; display: block; position: absolute; bottom: -2.424vw; left: 0;height: 1px; background-color: #000; width: 0; transition: ease-out 1.0s width; transition-delay:0.4s;}
          &.active:nth-child(4n + 1)::before{width: calc(100vw - 7.273vw);}
          @for $i from 1 through 4 {
            &:nth-child(4n + #{$i}){
              .date{transition-delay: #{(0.3 * $i) - 0.3}s;}
              h1{transition-delay: #{(0.3 * $i) - 0.3}s;}
              img{transition-delay: #{(0.2 * $i) - 0.2}s;}  
            }
          }
        }
      }
    }
    .mg_list_family{overflow: hidden;
      .mg_li{position: relative;
        @media(min-width:1025px){
          &:nth-child(2n + 1)::before{content: ''; display: block; position: absolute; bottom: -2.424vw; left: 0;height: 1px; background-color: #000; width: 0; transition: ease 1.0s width; transition-delay:0.4s;}
          &.active:nth-child(2n + 1)::before{width: calc(100vw - 7.273vw);}
          @for $i from 1 through 2 {
            &:nth-child(2n + #{$i}){
              .date{transition-delay: #{(0.4 * $i) - 0.4}s;}
              h1{transition-delay: #{(0.4 * $i) - 0.4}s;}
              img{transition-delay: #{(0.4 * $i) - 0.4}s;}  
            }
          }
        }
        img{aspect-ratio: 700 / 233;}
      }

    }

    .pagenation{display: flex; gap: 1.455vw; justify-content: center; margin-top: 2.424vw;
      li{font-size: 0;
        a{font-size: 0.788vw; line-height: 1.8;
          img{width: 1.455vw; height: 1.455vw;}
        }
        &:first-child a, &:last-child a{font-size: 0;}
      }
    }
  }
  &.tab_move {
    .mg_body{
      .mg_list{
        &::before{transition-delay: 0s;}
      }
    }
  }
}
@media(max-width:1024px){
  .page_magazine{padding: 25vw 5.556vw 33.333vw;
    .mg_head{padding: 5.556vw 0 16.667vw;
      
      .mg_title{flex-direction: column; border-bottom:0;
        h1{text-align: center;}
        .mg_title_right{gap: 0px; padding-top: 8.333vw; margin-top: 5.556vw; position: relative;
          &::before{content: ''; width: 0; height: 1px; left: 0; top: 0; position: absolute; border-top: 1px dashed rgb(0, 0, 0, 0.25); transition: ease 0.8s width; transition-delay: 0.25s;}
          h4{margin-bottom: 3.333vw;}
          .txt{width: unset;}
        }
      }
      .mg_nav{gap: 1.111vw; margin-left: -5.556vw; overflow-x: scroll; width: calc(100% + 11.111vw); justify-content: unset; background-color: var(--bg-gray-1);
        .btn_all{position: unset;}
        a{padding: 1.389vw 3.333vw 0.833vw; white-space: nowrap;
        }
      }
      &.active .mg_title_right::before{width: 100%;}
    }
    .mg_body{padding: 0; width: 100%; left: 0;
      .mg_list_new_post{padding-top: 5.556vw;}
      .mg_list{grid-template-columns: 1fr; gap: 5.556vw; background-color: unset;
        .mg_li{padding: 0 0 5.556vw; font-size: 0;position: relative;
          &::before{content: ''; display: block; width:0%; height: 1px; background-color: #000; position: absolute; left: 0; bottom: 0; transition: ease 0.5s width;}
          &.active::before{width: 100%;}
          a{font-size: 0;
            span{font-size: 2.5vw;}
            h1{padding: 2.222vw 0 3.333vw; font-size: 3.333vw;}
          }
        }
      }
      .pagenation {
        li{ 
          a{font-size: 2.778vw;}
        }
      }
    } 
  }
}