/*body,
main.page_magazine {
  transition: background-color 0.6s ease;
}
*/
.our-picks{transition: background-color 0.6s ease;}
body.ourpicks-gallery-active main.page_magazine {background-color: #8e929b;}

body.ourpicks-gallery-active .page_magazine {color: #fff;
  a,button {color: #fff;}
  .txt-gray {color: rgb(255 255 255 / 52%);}

  .ourpicks_gallery_visual::before{background-color: #D2D1D3;}
  .ourpicks_gallery_visual .flex_right::before{border-color: #D2D1D3;}
}

.page_magazine.our-picks{
  .mg_body{padding-top: 0; padding-bottom: 0;
    .pagenation{display: none;}
  }
}
.ourpicks_page {
  .ourpicks_news {
    .mg_list{
      &.mg_list_family::before{height: 2px; background-color: #000;}
      &.mg_list_event::before{height: 2px; background-color: #000;}
    } 
    &:not(:last-child){padding: 0 0 7.273vw;}
    
    &.active{
      .ourpicks_news_preview{opacity: 1; transform: scale(1);}
    }
  }

  .ourpicks_section_head {display: flex; align-items: flex-end; justify-content: space-between; gap: 2.424vw; padding-bottom: 1.091vw;}

  .ourpicks_section_title {display: flex; align-items: center; gap: 2.424vw;
    h2 {line-height: 1; font-weight: 400; letter-spacing: 0;}
    p {line-height:1; font-weight: 400;}
  }

  .ourpicks_view_all {line-height: 1; display: inline-flex; align-items: center; gap: 1vw; padding-bottom: 0.485vw; color: #000; font-weight: 700; text-decoration: none;
    span:last-child {position: relative; display: block; width: 2.182vw; min-width: 1.697vw; height: 1px; background-color: currentColor;
      &::after {content: ""; position: absolute; right: 0; top: 50%; width: 0.424vw; height: 0.424vw; border-top: 1px solid currentColor; border-right: 1px solid currentColor; transform: translateY(-50%) rotate(45deg);}
    }
  }

  .ourpicks_news_body {display: grid; grid-template-columns: minmax(0, 7fr) minmax(21.818vw, 5fr); gap: 2.424vw; padding-top: 2.424vw;}

  .ourpicks_news_preview {transform: scale(1.05); opacity: 0; transition: all 1.4s ease; transition-delay: 0.4s; position: relative; overflow: hidden; background-color: #ededed; /*aspect-ratio: 16 / 9;*/
    img {position: absolute; inset: 0; display: block; width: 100%; height: 100%; object-fit: cover; opacity: 1; clip-path: inset(100% 0% 0% 0%); z-index: 1; will-change: clip-path;}

    .ourpicks_news_preview_img {
      &.active {clip-path: inset(0% 0% 0% 0%);}

      @for $i from 1 through 5 {
        &:nth-child(#{$i}) {z-index: #{$i};}
      }
    }
  }

  .ourpicks_news_list {position: relative; ; list-style: none; margin: 0; padding: 0;
    &::before{border-left: 1px dashed rgba(0, 0, 0, 0.18); background-color:unset!important;}
  }

  .ourpicks_news_item {border-bottom: 1px dashed rgb(0 0 0 / 18%);
    &.active {
      .ourpicks_news_link {background-color: rgb(0 0 0 / 3%);}
    }
    &:last-child {border-bottom: 0;}
  }

  .ourpicks_news_link {display: flex; flex-direction: column; gap: 0.44vw; padding: 0.97vw 2.4242vw; color: #000; text-decoration: none; transition: background-color 0.28s ease;
    .date {letter-spacing: 0;}
    strong {font-weight: 400; line-height: 1.82;}
  }



  .ourpicks_gallery_visual{display: flex; padding-top: 2.424vw;
    &::before{background-color: #000;}
    .flex_left{width: calc((100% / 12) * 5); font-size: 0;}
    .flex_right{flex-direction: column; display: flex; width: calc((100% / 12) * 7); padding-left: 6.061vw; justify-content: space-between;
      &::before{left: 2.424vw; border-left: 1px dashed #000; background-color: unset;}
      .ourpicks_gallery_title{
        h3{margin-bottom: 1.212vw;}
      }
      .img_s_w{display: flex; justify-content: space-between;  align-items: flex-start;
        .ourpicks_gallery_card{display: flex; gap: 1.212vw;
          &.ourpicks_gallery_card_sub {margin-top: 7.515vw; align-items: flex-end;}
          &.ourpicks_gallery_card_side{}
          img{width: 12.121vw;}
        }
      }
    }

    
    .ourpicks_gallery_card{
      img{transition: ease 1.4s transform, ease 1.4s backdrop-filter, ease 1.4s opacity; transform: scale(1.05); opacity: 0;
        &.active{transform: scale(1); opacity: 1;}
      }
      &.ourpicks_gallery_card_main img{transition-delay: 0.4s;}
      &.ourpicks_gallery_card_sub img{transition-delay: 0.4s;}
      &.ourpicks_gallery_card_side img{transition-delay: 0.4s;}
      &.active img{transform: scale(1); opacity: 1;}
    }

    
  }
  .ourpicks_news.ourpicks_gallery{
    .ani span, .ani p, .ani a{transition: clip-path 1s cubic-bezier(0, 0, 0.43, 1.06), color 0.3s cubic-bezier(0, 0, 0.43, 1.06);}
    .ourpicks_view_all{transition: clip-path 1s cubic-bezier(0, 0, 0.43, 1.06), color 0.3s cubic-bezier(0, 0, 0.43, 1.06);}
  }

  .ourpicks_play{opacity: 0; transition: opacity 1.4s ease; padding-bottom: 4.2424vw;
    &.active{opacity: 1;}
  }
  .ourpicks_play_slider {padding-top: 2.424vw;
    .swiper-wrapper{align-items: center;}
    .ourpicks_play_swiper{height: 21.818vw; overflow: visible;
      button{display:block; width:100%; height:100%;}
      .swiper-slide.ourpicks_play_slide{width: unset; height: 100%;
        &:not(:last-child){padding-right: 2.424vw; box-sizing: unset;}
        &.type-a{aspect-ratio: 16 / 9; height: 60%;}
        &.type-b{aspect-ratio: 9 / 16;}
        img{width: unset; height: 100%; object-fit: cover;}
      }

    }
  }
  .sticky_w{position: absolute; left: 2.424vw; bottom: -7.273vw; height: calc(100% - 80vw); width: calc(100% - 4.848vw); pointer-events: none; z-index: 2;
    
    .mg_nav{display: flex; justify-content: flex-end; font-size: 0; padding: 0.485vw; position: relative; gap: 0.485vw; position: relative; overflow-y: hidden;
      &::before{content: ''; display: block; position: absolute; left: 0; top: 0; width: 0%; height: 100%; background-color: rgb(237 237 237 / 10%); backdrop-filter: blur(20px); border-radius: 0.242vw;}
      
      a{background-color: #fff; border-radius: 0.242vw; padding: 0.303vw 1.212vw 0.182vw; cursor: pointer; transition: ease 0.3s all; position: relative; overflow: hidden; display: flex;
        span{position: relative; color: #000; transition: ease 0.3s color;}
        &::before{content: ''; display: block; background-color: var(--bg-ac-1); left: 0; bottom: 0; width: 100%; height: 0; transition: ease 0.3s height; position: absolute;}
        &.active::before, &:hover::before{height: 100%;}
        &.active span, &:hover span{color: #fff;}
      }
      .btn_all{position: absolute; left: 0.485vw; top: 0.485vw;}
    }
    .mg_nav{position:sticky; transform: translateY(-100%); top: calc(100% - 40px); pointer-events: auto; opacity: 0; transition: opacity 0.3s ease;}
    &.active .mg_nav{opacity: 1;}
  }
  .gallery_viewer_close{color:#000!important;}
}

@media (max-width: 1024px) {
  .page_magazine.our-picks .mg_body{padding-top: 11.111vw;}
  .ourpicks_page {/*overflow-x: hidden;*/
    .ourpicks_news{
      &:not(:last-child){padding: 0 0 16.667vw;}
      .mg_list{margin-top: 0; padding-top: 21.111vw;
        &.mg_list_event{margin-top: 0; padding-top: 21.111vw;}
        &.mg_list_family{margin-top: 0; padding-top: 21.111vw;}
      }
      .ourpicks_play_slider{margin-top: 0; padding-top: 21.111vw; width: calc(100% + (5.556vw * 2)); margin-left: -5.556vw; padding-left: 5.556vw; padding-right: 5.556vw; overflow: hidden;}
    }
    .ourpicks_section_head{position: relative; padding-bottom: 3.333vw;
      .ourpicks_view_all{position: absolute; top: calc(100% + 5.556vw); right: 0; padding-bottom: 0;}
      .ourpicks_section_title{justify-content: space-between;
        h2{white-space: nowrap;}
        p{text-wrap: balance; word-break: keep-all; text-align: right; width: 50%; line-height: 1.6;}
      }
    }
    
    .ourpicks_news_body{display: block; padding-top: 21.111vw;
      .ourpicks_news_preview{aspect-ratio: 320 / 180;}
      .ourpicks_news_list{margin-top: 5.556vw;
        &::before{display: none;}
        .ourpicks_news_link {gap: 2.222vw; padding: 2.222vw 0 3.333vw;
          .date{font-size: 2.5vw;}
          strong{font-size: 3.333vw;}
        }
      }
    }

    .ourpicks_gallery_visual{flex-direction: column; align-items: center; padding-top: 21.111vw;
      .flex_left{width: 56%;}
      .flex_right{padding-left: 0; width: 100%;
        &::before{display: none;}
        .ourpicks_gallery_title{text-align: center; margin-bottom: 11.111vw;
          h3{margin: 5.556vw 0 4.444vw;}
        }
        .img_s_w{ 
          .ourpicks_gallery_card{gap: 2.222vw;
            &.ourpicks_gallery_card_sub{margin-top: 0;}
            &.ourpicks_gallery_card_side{    flex-direction: row-reverse;}
            img{width: 22.222vw;}
          }
        }

      }
    }

    .ourpicks_play_slider{ 
      .ourpicks_play_swiper{height: 44.444vw;
        .swiper-slide.ourpicks_play_slide:not(:last-child){padding-right: 5.556vw;}
      }
      
    
    }
    .sticky_w{left: -5.556vw; bottom: 20px; width: calc(100% + (5.556vw * 2)); height:calc(100% - 110vh); /*overflow: hidden;*/
      .mg_nav{gap: 4px; padding: 4px; margin-left: 0; overflow-x: scroll; width: unset; justify-content: unset; background-color: var(--bg-gray-1); top: 100%;
            position: fixed;
    top: unset;
    bottom: 0;
    transform: unset;
        .btn_all{position: unset;}
        a{padding: 1.389vw 3.333vw 0.833vw; white-space: nowrap; border-radius: 0.556vw;
        }
      }
      .mg_nav::-webkit-scrollbar {
        height: 0px;
      }
      .mg_nav::-webkit-scrollbar-thumb {
        background-color: #2f3542;
      }
    }
    .ourpicks_play{padding-bottom: 33.333vw;}
  }
  .page_magazine.our-picks{padding-bottom: 0;}
}
