body,
main.page_magazine {
  transition: background-color 0.6s ease;
}

body.ourpicks-gallery-active,
body.ourpicks-gallery-active main.page_magazine {
  background-color: #8e929b;
}

body.ourpicks-gallery-active .page_magazine {
  color: #fff;
  a {color: #fff;}
  .txt-gray {
    color: rgb(255 255 255 / 52%);
  }
}

.page_magazine.our-picks{
  .mg_body{padding-top: 0; padding-bottom: 0;
    .pagenation{display: none;}
  }
}
.ourpicks_page {
  .ourpicks_news {
    .mg_list{
      &.mg_list_family::before{height: 2px; background-color: #000;}
      &.mg_list_event::before{height: 2px; background-color: #000;}
    } 
    &:not(:last-child){padding: 0 0 7.273vw;}
    
    &.active{
      .ourpicks_news_preview{opacity: 1; transform: scale(1);}
    }
  }

  .ourpicks_section_head {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    gap: 2.424vw;
    padding-bottom: 1.091vw;
  }

  .ourpicks_section_title {
    display: flex;
    align-items: center;
    gap: 2.424vw;

    h2 {
      line-height: 1;
      font-weight: 400;
      letter-spacing: 0;
    }

    p {
      line-height:1;
      font-weight: 400;
    }
  }

  .ourpicks_view_all {
    line-height: 1;
    display: inline-flex;
    align-items: center;
    gap: 1vw;
    padding-bottom: 0.485vw;
    color: #000;
    font-weight: 700;
    text-decoration: none;

    span:last-child {
      position: relative;
      display: block;
      width: 2.182vw;
      min-width: 28px;
      height: 1px;
      background-color: currentColor;

      &::after {
        content: "";
        position: absolute;
        right: 0;
        top: 50%;
        width: 0.424vw;
        height: 0.424vw;
        border-top: 1px solid currentColor;
        border-right: 1px solid currentColor;
        transform: translateY(-50%) rotate(45deg);
      }
    }
  }

  .ourpicks_news_body {
    display: grid;
    grid-template-columns: minmax(0, 7fr) minmax(360px, 5fr);
    gap: 2.424vw;
    padding-top: 2.424vw;
  }

  .ourpicks_news_preview {
    transform: scale(1.05);
    opacity: 0;
    
    transition: all 1.4s ease;
    transition-delay: 1s;
    position: relative;
    overflow: hidden;
    background-color: #ededed;
    /*aspect-ratio: 16 / 9;*/

    img {
      position: absolute;
      inset: 0;
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
      opacity: 1;
      clip-path: inset(100% 0% 0% 0%);
      z-index: 1;
      will-change: clip-path;
    }

    .ourpicks_news_preview_img {
      &.active {
        clip-path: inset(0% 0% 0% 0%);
      }

      @for $i from 1 through 5 {
        &:nth-child(#{$i}) {
          z-index: #{$i};
        }
      }
    }
  }

  .ourpicks_news_list {
    position: relative;
    ;
    list-style: none;
    margin: 0;
    padding: 0;
    &::before{border-left: 1px dashed rgb(0 0 0 / 100%); background-color:unset!important;}
  }

  .ourpicks_news_item {
    border-bottom: 1px dashed rgb(0 0 0 / 18%);

    &.active {
      .ourpicks_news_link {
        background-color: rgb(0 0 0 / 3%);
      }
    }
    &:last-child {
      border-bottom: 0;
    }
  }

  .ourpicks_news_link {
    display: flex;
    flex-direction: column;
    gap: 0.44vw;
    padding: 0.97vw 2.4242vw;
    color: #000;
    text-decoration: none;
    transition: background-color 0.28s ease;

    .date {
      letter-spacing: 0;
    }

    strong {
      font-weight: 400;
      line-height: 1.82;
    }
  }



  .ourpicks_gallery_visual{display: flex; padding-top: 40px;
    .flex_left{width: calc((100% / 12) * 5); font-size: 0;}
    .flex_right{flex-direction: column; display: flex; width: calc((100% / 12) * 7); padding-left: 100px; justify-content: space-between;
      &::before{left: 40px; border-left: 1px dashed #fff; background-color: unset;}
      .ourpicks_gallery_title{
        h3{margin-bottom: 20px;}
      }
      .img_s_w{display: flex; justify-content: space-between;  align-items: flex-start;
        .ourpicks_gallery_card{display: flex; gap: 20px;
          &.ourpicks_gallery_card_sub {margin-top: 124px; align-items: flex-end;}
          &.ourpicks_gallery_card_side{}
          img{width: 200px;}
        }
      }
    }

    img{transition: ease 1.4s transform, ease 1.4s backdrop-filter, ease 1.4s opacity; transform: scale(1.05); opacity: 0;
      &.active{transform: scale(1); opacity: 1;}
    }
    .active img{transform: scale(1); opacity: 1;}
  }

  .ourpicks_play_slider {padding-top: 2.424vw;
    .ourpicks_play_swiper{height: 360px; overflow: visible;
      .swiper-slide.ourpicks_play_slide{width: unset; height: 100%;
        &:not(:last-child){padding-right: 2.424vw; box-sizing: unset;}
        &.type-a{aspect-ratio: 16 / 9;}
        &.type-b{aspect-ratio: 9 / 16;}
        img{width: unset; height: 100%; object-fit: cover;}
      }

    }
  }

}

@media (max-width: 1024px) {
  .page_magazine.our-picks .mg_body{padding-top: 40px;}
  .ourpicks_page {
    .ourpicks_news{
      &:not(:last-child){padding: 0 0 60px;}
      .mg_list{margin-top: 0; padding-top: 76px;
        &.mg_list_event{margin-top: 0; padding-top: 76px;}
        &.mg_list_family{margin-top: 0; padding-top: 76px;}
      }
      .ourpicks_play_slider{margin-top: 0; padding-top: 76px;}
    }
    .ourpicks_section_head{position: relative; padding-bottom: 12px;
      .ourpicks_view_all{position: absolute; top: calc(100% + 20px); right: 0; padding-bottom: 0;}
      .ourpicks_section_title{justify-content: space-between;
        h2{white-space: nowrap;}
        p{text-wrap: balance; word-break: keep-all; text-align: right; width: 50%; line-height: 1.6;}
      }
    }
    
    .ourpicks_news_body{display: block; padding-top: 76px;
      .ourpicks_news_preview{aspect-ratio: 320 / 180;}
      .ourpicks_news_list{margin-top: 20px;
        &::before{display: none;}
        .ourpicks_news_link {gap: 8px; padding: 8px 0 12px;
          .date{font-size: 9px;}
          strong{font-size: 12px;}
        }
      }
    }

    .ourpicks_gallery_visual{flex-direction: column; align-items: center; padding-top: 76px;
      .flex_left{width: 56%;}
      .flex_right{padding-left: 0; width: 100%;
        &::before{display: none;}
        .ourpicks_gallery_title{text-align: center; margin-bottom: 40px;
          h3{margin: 20px 0 16px;}
        }
        .img_s_w{ 
          .ourpicks_gallery_card{gap: 8px;
            &.ourpicks_gallery_card_sub{margin-top: 0;}
            &.ourpicks_gallery_card_side{    flex-direction: row-reverse;}
            img{width: 80px;}
          }
        }

      }
    }

    .ourpicks_play_slider{ 
      .ourpicks_play_swiper{height: 160px;
      .swiper-slide.ourpicks_play_slide:not(:last-child){padding-right: 20px;}}
      
    
    }
  }
}
